body {
    color: #E0E0E0;
    background: #2E2E2E;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #8687cf;
    padding: 20px;
    font-size: 32px;
    color: #9293ce;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

.chamada {
    background: #9293ce;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chamada-texto h1 {
    font-size: 2.5rem;
    margin: 0;
}

.chamada-texto p {
    font-size: 1.25rem;
    margin: 10px 0 0;
}

.categoria {
    padding: 20px;
    text-align: center;
}

.categoria h2 {
    color: #585aa1;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.recomendações {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    padding: 0 10px;
}

.recomendações a {
    display: block;
}

.recomendações img {
    opacity: 0.8;
    height: 200px;
    border-radius: 8px;
    transition: opacity 0.3s, transform 0.3s;
}

.recomendações img:hover {
    opacity: 1.0;
    border: 2px solid #aaabf5;
    transform: scale(1.05);
}

footer {
    background-color: #1c1c1c;
    color: #e0e0e0;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}